

{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>explore</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/imagesStyles.css' %}">
    <script src="{% static 'js/images.js' %}"></script>
</head>
<body>

    <!-- ! main section start ! -->
    <div class="page"> 

        <!-- ! image ! -->
        <div  class="img-container">
        
        <img onclick="focus()" class="img" id="img" src="{{image.image.url}}" alt="Image">
        
        </div>
        
        <!-- ! navigation ! -->

    <div class="nav-container">

        {% include 'arrows.html' %}

    <p id="caption"> &nbsp;{{image.name}}&nbsp;</p>

    </div>
    <!-- ! main section end ! -->
    </div>

</body>
</html>

<script> 

document.addEventListener('keydown', function(event) {
    
    //if imageConst class is not focus
    if (event.code === 'Space') {
    // Call function for up arrow key
    focus();
    } 


    // if there is an image above
    {% if image.up is not null %}

    if (event.code === 'ArrowUp') {
    // Call function for up arrow key
    upArrow("{{image.up.id}}/");
    } 

    {% endif %}
    // if there is an image below
    {% if image.down is not null %}

    if (event.code === 'ArrowDown') {
    // Call function for down arrow key
    downArrow("{{image.down.id}}/");
    } 
    
    {% endif %}
    // if there is an image to the left
    {% if image.left is not null %}

    if (event.code === 'ArrowLeft') {
    // Call function for left arrow key
    leftArrow("{{image.left.id}}/");
    } 
    
    {% endif %}
    // if there is an image to the right
    {% if image.right is not null %}
    
    if (event.code === 'ArrowRight') {
    // Call function for right arrow key
    rightArrow("{{image.right.id}}/");
    }

    {% endif %}
});


</script>

