

{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>explore</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/allStyles.css' %}">
</head>
<body>

    <div class="container">
            
            <div class="top-button-container">
                <a href="{{image.up.id}}/"class="button">&uarr;</a>
            </div>
            <div class="container">
                <div class="left-button-container">
                    <a href="{{image.left.id}}/"class="button">&larr;</a>
                    </div>
            <img src="{{image.image.url}}" alt="Image">
            <div class="right-button-container">
                <a href="{{image.right.id}}/"class="button">&rarr;</a>
                </div>
            </div>
            
                
            
            <div class="bottom-button-container">
                <a href="{{image.down.id}}/"class="button">&darr;</a>
                </div>
        </div>
            
</body>
</html>

