{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pathwayStyles.css' %}">
<script src="{% static 'js/paths.js' %}"></script>

<body>
<!-- ! main section start ! -->
<div class="main"> 

    <!-- ! pathways ! -->
    <div class="container">

    {% for path in pathways %}

    <a class="path" href="image/{{path.start.id}}/"> 

    <img class="pathway-img" id="{{path.name}}" src="{{path.image.url}}" alt="Image"></img>
    </a>
    {% endfor %}
    </div>

    <!-- ! title ! -->

    <div class="title" id="title"> </div>
<!-- ! navigation ! -->
</div>

</body>