.pathway-img{
width: 35vw;;
}
.path-name{
    color: #ffffff;
    text-decoration: none;
}


.path{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: ;
    z-index: 1;
    transition: all .4s;
}

.path:hover{
    z-index: 2;
    transform:scale(1.2);
}

.path-container{
    display: flex;
    flex-direction: row;
}

.container{
transform: translateX(-10vw);
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

body{
    overflow-X: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
}

.main{
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: row;
}

.title{
    position: fixed;
    color: #ffffff;
    right: 20vw;
    top: 50vh;
    font-size: 3em;
    opacity: 0;
    transition: all 2s;
}

.on {
    opacity: 1;
}