.pathway-img{
    width: 35vw;
    height: 100%;
}

.path-name{
    color: #ffffff;
    text-decoration: none;
}

.path{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all .4s;
}

.path:hover{
    z-index: 2;
    transform:scale(1.2);
}

.path-container{
    display: flex;
    flex-direction: row;
}

.container{
    transform: translateX(-10vw);
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body{
    overflow-X: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: row;
}

.title{
    position: fixed;
    color: #ffffff;
    right: 15vw;
    top: 50vh;
    font-size: 3em;
    opacity: 0;
    transition: all 1s;
}

.on {
    opacity: 1;
}
